[submodule "dependencies/beanstalkc"]
	path = dependencies/beanstalkc
	url = https://github.com/earl/beanstalkc.git
[submodule "dependencies/radamsa"]
	path = dependencies/radamsa
	url = https://github.com/aoh/radamsa.git
[submodule "dependencies/RunTracer"]
	path = dependencies/RunTracer
	url = https://github.com/v-p-b/RunTracer.git
[submodule "dependencies/capstone"]
	path = dependencies/capstone
	url = https://github.com/aquynh/capstone

