$def with(row)
<html>
<head>
<link href="/static/nightmare.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center">
<h1>Nightmare Fuzzing Project</h1>
<h2>Edit mutation engine</h2>
  <form action="/edit_mutation_engine" method="POST">
  <input type="hidden" name="id" value="$row.mutation_engine_id"/>
  <table>
   <tr>
    <td><label for="name">Name</label></td>
    <td><input type="text" name="name" size="50" value="$row.name"></td>
    <td><i>Short name of the mutation engine.</i></td>
   </tr>
   <tr>
    <td valign="top"><label for="description">Description</label></td>
    <td><textarea rows="10" cols="50" name="description">$row.description</textarea></td>
    <td valign="top"><i>Description of the mutation engine (how it works, if it preserves input size, algorithms used...).</i></td>
   </tr>
   <tr>
    <td><label for="command">Command</label></td>
    <td><input type="text" name="command" value="$row.command" size="60"></td>
    <td><i>Command to generate mutations. Use %INPUT% and %OUTPUT% to specify the input template file and the output mutated (fuzzed) file(s).
        You can also use %NIGHTMARE_PATH% to automatically add the path where Nightmare Fuzzing Project is installed.</i></td>
   </tr>
   <tr>
    <td>Start date</td>
    <td>$row.date</td>
    <td><i>Date when the mutation engine was added.</i></td>
   </tr>
   <tr>
     <td colspan="3">
      <input type="submit" value="Update mutation engine">
      <input type="button" value="Cancel" onclick="javascript:location.href='/engines'"/>
     </td>
   </tr>
  </table>
  </form>
</td></tr>
</table>
</div>
<div align="center" id="footer">
<h2>Copyright (c) 2013, 2014 Joxean Koret</h2>
</div>
</body>
</html>
