<html>
<head>
<link href="/static/nightmare.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center">
<h1>Nightmare Fuzzing Project</h1>
</div>
<div id="vertmenu"> 
<h1>Navigation</h1>
<ul>
<li><a href="/" tabindex="1">Index</a></li>
<li><a href="/config" tabindex="2">Configuration</a></li>
<li><a href="/projects" tabindex="4">Projects</a></li>
<li><a href="/engines" tabindex="5">Mutation Engines</a></li>
<li><a href="/project_engines" tabindex="6">Project Engines</a></li>
<li><a href="/find_samples" tabindex="7">Samples</a></li>
<li><a href="/results" tabindex="8">Results</a></li>
<li><a href="/bugs" tabindex="9">Bugs</a></li>
<li><a href="/statistics" tabindex="10">Statistics</a></li>
<li><a href="/logout" tabindex="11">Logout</a></li>
</ul>
</div>
<div id="content">
<table border="0">
<tr><td>
<h2>Index</h2>
<p>Welcome to the <b>Nightmare Fuzzing Project</b> application! It was created by <b>Joxean Koret</b> as a proof of concept distributed fuzzing framework
(with central administration) for LaCon 2013 (an underground European conference). It was used, later on, to fuzz many products like AV engines, office suites, document viewers, etc...</p>
<img src="/static/nightmare_frodrig_4423330926.jpg" alt="Nightmare Logo" title="Nightmare Logo. The name of the project, Nightmare, comes from my son's name, Amets, which means 'dream' in Basque language. BTW, no, is not my son. Is a picture from Fernando Rodríguez, found in Flickr."/>
<h5><a href="https://www.flickr.com/photos/frodrig/4423330926/in/photostream/">Original image</a></h5>
</td></tr>
</table>
</div>
<div align="center" id="footer">
<h2>Copyright (c) 2013, 2014 Joxean Koret</h2>
</div>
</body>
</html>
