$def with (original_file, crash_file, buf1, buf2, differences, hexdump)
<html>
<head>
<link href="/static/nightmare.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center">
<h1>Nightmare Fuzzing Project</h1>
</div>
<div id="vertmenu"> 
<h1>Navigation</h1>
<ul>
<li><a href="/" tabindex="1">Index</a></li>
<li><a href="/config" tabindex="2">Configuration</a></li>
<li><a href="/projects" tabindex="4">Projects</a></li>
<li><a href="/engines" tabindex="5">Mutation Engines</a></li>
<li><a href="/project_engines" tabindex="6">Mutation Engines</a></li>
<li><a href="/find_samples" tabindex="7">Samples</a></li>
<li><a href="/results" tabindex="8">Results</a></li>
<li><a href="/bugs" tabindex="9">Bugs</a></li>
<li><a href="/statistics" tabindex="10">Statistics</a></li>
<li><a href="/logout" tabindex="11">Logout</a></li>
</ul>
</div>
<div id="content">
<table border="0">
<tr><td>
<h2>Show differences</h2>
<table border="1" id="data">
  <tr>
    <th>Original</th>
    <td>$original_file</td>
  </tr>
  <tr>
    <th>Crash</th>
    <td>$crash_file</td>
  </tr>
</table>
<br clear="all"/>
<h2>Not yet</h2>
</td></tr>
</table>
</div>
<div align="center" id="footer">
<h2>Copyright (c) 2013, 2014 Joxean Koret</h2>
</div>
</body>
</html>
