$def with (directory)
<html>
<head>
<link href="/static/nightmare.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center">
<h1>Nightmare Fuzzing Project</h1>
</div>
<div id="vertmenu"> 
<h1>Navigation</h1>
<ul>
<li><a href="/" tabindex="1">Index</a></li>
<li><a href="/config" tabindex="2">Configuration</a></li>
<li><a href="/projects" tabindex="3">Projects</a></li>
<li><a href="/triggers" tabindex="4">Triggers</a></li>
<li><a href="/engines" tabindex="5">Mutation Engines</a></li>
<li><a href="/project_engines" tabindex="6">Project Engines</a></li>
<li><a href="/project_triggers" tabindex="7">Project Triggers</a></li>
<li><a href="/find_samples" tabindex="8">Samples</a></li>
<li><a href="/results" tabindex="9">Results</a></li>
<li><a href="/bugs" tabindex="10">Bugs</a></li>
<li><a href="/statistics" tabindex="11">Statistics</a></li>
<li><a href="/logout" tabindex="12">Logout</a></li>
</ul>
</div>
<div id="content">
<table border="0">
<tr><td>
<h2>Samples</h2>
<p>Samples root directory is configured to $directory.</p>
</td></tr>
</table>
</div>
<div align="center" id="footer">
<h2>Copyright (c) 2013-2015 Joxean Koret</h2>
</div>
</body>
</html>
